<div class="col-md-8 col-md-offset-2 content-row">
	<div class="row">		
		<div class="table-responsive">
			<table id="beer-table" class="table .table-hover table-condensed">
				<thead>
					<tr>
						<th>#</th>
						<th>Name</th>
						<th>Style</th>
						<th>Fermentation Start</th>
						<th>Fermentation End</th>
						<th>Conditioning Start</th>
						<th>Conditioning End</th>
						<th>Rating (0-10)</th>
						<th>Comments</th>
					</tr>
				</thead>
				<tbody id='beer-table-body'>
					{{#each beers}}
					<tr>
						<td class="id-cell">{{ beer_id }}</td>
						<td contenteditable="true">{{ name }}</td>
						<td contenteditable="true">{{ style }}</td>
						<td class="beer-date-cell">{{ prettyDate fermenting_from }}</td>
						<td class="beer-date-cell">{{ prettyDate fermenting_to }}</td>
						<td class="beer-date-cell">{{ prettyDate conditioning_from }}</td>
						<td class="beer-date-cell">{{ prettyDate conditioning_to }}</td>
						<td class="ratings-cell" contenteditable="true">{{ rating }}</td>
						<td class="comments-cell">{{ comments }}</td>								
					</tr>
					{{/each}}
				</tbody>
			</table>
		</div>			
	</div>	
	<div class="row beer-button-row">
		<input id="create-beer-button" class="btn btn-default" type="submit" value="Create New Beer">
		<input id="update-beers-button" class="btn btn-default" type="submit" value="Save Changes">			 
		<input id="delete-beer-button" class="btn btn-default" type="submit" value="Delete Beer" disabled>
	</div>
</div>
