<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<form class="form-signin" role="form">
			<h2 class="form-signin-heading">It's the chestfreezer!</h2>
			<input id="username" type="username" class="form-control"
				placeholder="Username" required autofocus> <input
				id="password" type="password" class="form-control"
				placeholder="Password" required>
			<button id="login-button" class="btn btn-lg btn-primary btn-block">Log
				in</button>
		</form>
		<div id="login-error-container">
			<strong><p id="login-error"></p></strong>
		</div>
	</div>
</div>