<div class="col-md-6 col-md-offset-3 content-row">
	<div class="row">
		<div class="table-responsive">
			<table class="table table-condensed">
				<thead>
					<tr>
						<th>Probe Hardware ID</th>
						<th>Probe Name</th>
						<th>Master</th>						
					</tr>
				</thead>
				<tbody id='probes-table-body'>
					{{#each probes}}			
					<tr>		
						<td>{{ probe_id }}</td>
						<td contenteditable="true">{{ name }}</td>
						<td><input class="master-checkbox" type="checkbox" {{ shouldBeChecked master }}></td>						
					</tr>
					{{/each}}
				</tbody>
			</table>
		</div>		
	</div>
	<div class="row update-probe-button-row">
		<input id="update-probe-button" class="btn btn-default" type="submit" value="Update"> 
	</div>
</div>
